/packages
/api/bin
/api/obj
/api/api.csproj.user
/.vs
/web/.DS_Store
/web/node_modules/
/web//dist/
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*

# Editor directories and files
/web/.idea
/web/.vscode
/web/*.suo
/web/*.ntvs*
/web/*.njsproj
/web/*.sln